/**
 * CSS Reset
 * From Blueprint reset.css
 * http://blueprintcss.googlecode.com
 */

/**
 * Map
 */
.smallmap {
    width: 512px;
    height: 384px;
    border: 1px solid #ccc;
}

/* mobile specific */
@media only screen and (max-width: 600px) {
    #map {
        background : #7391ad;
        width      : 100%;
    }
    #map {
        border : 0;
        height : 250px;
    }
}
@media only screen and (orientation: landscape) and (max-width: 600px) {
    #map {
        width: 70%;
    }
}
